body{
  height: 100%;
  width: 100%;
}
#side-bar{
  background: #7CFC00;
  font-family: "Verdana";
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease;

  
}
#coord{
  width: 50px;
}
#route-btn{
  margin-top: 50px;
  margin-bottom: 50px;
  
}

#toggle{
  margin-left: 98%;
  padding-top:5px;
  cursor: pointer;
}

.collapsed {
        display: block;
        margin-left: -22%; 
    }

#main-row {
    overflow-x: hidden;
}

#map-container {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#layer{
  z-index: 1;
  position: absolute;
}
